.container{
    width:400px;
    background-color: #ececec;
    margin:20px auto;
    h1{
        font-family: sans-serif;
        font-size: 1.8em;
        color: #1e65c2;
        text-align:center;
    }
    padding:10px;
}